*.tlb
*.ddp
*.vlb
*.deployproj
*.obj
*.bpl
*.bpi
*.dcp
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.lib
*.a
*.o
*.ocx
*.cfg
*.hpp
*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk
__history/
__recovery
*.~*
~$*.*
*.stat
modules/
.svn/
*/ModelSupport_*